<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formadora 2
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
<ion-card>
  <img alt="Minha foto" src="assets/Peppao preto.png" />

  <ion-card-content>
    <h1>Lucas Cardoso Ventura Gomes</h1>
    <h1>ADS Bangu Manhã</h1>
    <ion-button style="display: block; margin: 20px auto; width: 200px;" routerLink="/home">
    Voltar para Apresentação
  </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>