<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formadora 2
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
<ion-card>

  <ion-card-content>
    <h1>Avaliação Formadora 2</h1>
    <ion-button style="display: block; margin: 20px auto; width: 200px;" routerLink="/card">
    Ir para Card
  </ion-button>
  <ion-button style="display: block; margin: 20px auto; width: 200px;" routerLink="/cep-consulta">
    Ir para a API
  </ion-button>
  </ion-card-content>
</ion-card>
</ion-content>